<main class="container">
  <%= link_to sanitize("&larr; Voltar"), user_path(@user) %>

  <div class="header">
    <h1>Editar</h1>
  </div>

  <%= turbo_frame_tag @user do %>
    <%= render "form", user: @user %>
  <% end %>
</main>
