<main class="container">
  <div class="header">
    <h1>Usuários</h1>
    <%= link_to "Novo Usuário", new_user_path, class: "btn btn--primary"%>
  </div>
    <% @users.each do |user| %>
      <%= render user %>
    <% end %>
</main>
