<main class="container">
  <%= link_to sanitize("&larr; Voltar"), users_path %>

  <div class="header">
    <h1>Novo usuário</h1>
  </div>
  <%= turbo_frame_tag @user do %>
    <%= render "form", user: @user %>
  <% end %>
</main>
