.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-xs);

  group {
    max-width: 80%;
  }

  .inputs{
    width: 100%;
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include media(tabletAndUp) {
      grid-template-columns: 1fr 1fr;
      gap: var(--space-xs);
    }
  }

  input {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: var(--space-xxs) var(--space-xs);
    border: var(--border);
    border-radius: var(--border-radius);
    outline: none;
    transition: box-shadow 250ms;

    &:focus {
      box-shadow: 0 0 0 2px var(--color-glint);
    }

    &--invalid {
      border-color: var(--color-primary);
    }
  }

  .buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--space-xs);
    align-self: flex-end;
  }
}

.form.search{
  flex-direction: row;
  flex-wrap: nowrap;
}
